*{
    margin: 0px;
    padding: 0px;
}

main{
    width: 50%;
    height: auto;
    text-align: center;
    margin: 0px auto;
}

#banner{
    width: 100%;
}

#banner img{
    width: 100%;
}

input{
    border-style: none;
    width: 100%;
    height: 30px;
    margin: 10px;
}

table{
    width: 100%;
    margin: 20px 0px;
    border-collapse: collapse;
}

table td{
    border: 1px solid black;
    padding: 10px;
}

#calcular{
    width: 200px;
    height: 40px;
    background-color:rgb(2, 172, 172) ;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-style: none;
    border-radius: 5px;
    box-shadow: 0px 3px 0px rgb(119,119,119);
}