*{
    padding: 0%;
    margin: 0%;
}
#RespostaEx3{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.446);
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    top: 0px;
    left: 0px;
}

#popUp{
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}